@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  /* Light theme variables */
  --background: #f0f0f0;
  --foreground: #333333;
  --front: #ffffff;
  --text-primary: #212121;
  --text-secondary: #555555;
  --accent: #0070f3;
}

[data-theme="dark"] {
  /* Dark theme variables */
  --background: #161616;
  --foreground: #f9f9f9;
  --front: #2c2c2c;
  --text-primary: #e1e1e1;
  --text-secondary: #a0a0a0;
  --accent: #3b82f6;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: var(--background) 0.2s ease-in-out, color 0.2s ease-in-out;
}